<launch>
<arg name="flatten_table" default="false"/>

<param name="/household_objects_database/database_host" value="codebot.cs.cornell.edu"/>
<param name="/household_objects_database/database_port" value="5432"/>
<param name="/household_objects_database/database_user" value="willow"/>
<param name="/household_objects_database/database_pass" value="willow"/>
<param name="/household_objects_database/database_name" value="household_objects-0.2"/>
<node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
  respawn="true" output="screen"/>

  <!-- tabletop segmentation and object recognition -->
  <include file="$(find tabletop_object_detector)/launch/tabletop_complete.launch">
      <arg name="tabletop_segmentation_points_input" value="camera/depth/points"/>
    <arg name="flatten_table" value="$(arg flatten_table)"/>
  </include>

</launch>
